---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Cookie Policy - Sun Synergy Contracts"
  description="Cookie policy for the Sun Synergy Contracts website."
>
  <main class="min-h-screen w-full space-y-5">

    <section class="relative isolate mx-auto w-full py-12 grid place-items-center mt-36">
      <div class="space-y-2">
        <p class="text-xs text-[#FAFAFA] mx-auto text-center uppercase">LEGAL</p>
        <h1 class="text-4xl md:text-5xl xl:text-6xl text-[#FAFAFA] font-serif mx-auto text-center font-bold">Cookies</h1>
      </div>
    </section>

    <section>
      <div class="px-6 py-20 lg:px-8">
        <article class="invert brightness-0 text-justify max-w-3xl mx-auto prose prose-sm prose-headings:font-medium lg:prose-headings:font-medium">
          <h2>What are cookies?</h2>
          <p>A cookie is a small piece of text sent to your browser by a website you visit. It helps the site remember information about your visit, which can make it easier to visit the site again and make the site more useful to you.</p>
          <p>Cookies may be set by the site you are visiting (called "first-party cookies") or by a third party, such as those who provide analytics on the site ("third-party cookies").</p>
          <p>Our first-party cookies include cookies that are strictly necessary, functional cookies and cookies related to analytics/performance.</p>
          <p><strong>Strictly Necessary:</strong> These cookies are necessary for our site to function properly and securely and cannot be switched off from our end. You can set your browser to block or alert you about these cookies, but then some parts of the site will not work.</p>
          <p><strong>Functional:</strong> These cookies enable us to provide enhanced functionality and personalization. If you do not allow these cookies then some or all of these features may not function properly.</p>
          <p><strong>Analytics and Performance:</strong> These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site.</p>
          <p><strong>Third-Party Cookies:</strong> Our site also include cookies from third parties that we partner with directly or indirectly.</p>
          <h2>How do I control cookies?</h2>
          <p>There are a number of ways you can control how information is collected from cookies on our site and how that information is used.</p>
          <p>Your browser includes controls that allow you to manage the use of cookies by the sites that you visit. Most browsers have features that enable you to see and delete cookies stored on your device and to block cookies from all or selected sites. For more information, here are links to external help materials from some of the popular browsers:</p>
          <ul>
            <li><a target="_blank" rel="noreferrer" href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer">Mozilla Firefox</a></li>
            <li><a target="_blank" rel="noreferrer" href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Apple Safari</a></li>
            <li><a target="_blank" rel="noreferrer" href="https://support.google.com/chrome/answer/95647">Google Chrome</a></li>
            <li><a target="_blank" rel="noreferrer" href="https://support.microsoft.com/en-us/help/4027947/microsoft-edge-delete-cookies">Microsoft Edge</a></li>
          </ul>
          <p>Your mobile device may also include browser settings that allow you to manage the use of cookies, especially if the device supports installing apps such as iOS and Android devices. iOS and Android devices also include additional device settings that control whether advertising partners can use information about your app activity for advertising purposes. On iOS, you can search for a setting called Limit Ad Tracking. On Android, you can search for a setting called Opt out of Ads Personalization.</p>
          <p>The major online advertising industry groups offer tools to limit how cookies are used for advertising purposes by participating third parties. More information is available on these sites from the <a href="https://optout.networkadvertising.org/">Network Advertising Initiative</a>, the <a href="https://optout.aboutads.info/">Digital Advertising Alliance</a>, and for users in the EU, the <a href="https://www.youronlinechoices.com/">European Interactive Digital Advertising Alliance</a>. Also, Google provides web users with the <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-out Browser Add-on</a> to prevent the collection of data via Google Analytics.</p>
        </article>
      </div>
    </section>

  </main>
</BaseLayout>
