---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Terms of Use - Sun Synergy Contracts"
  description="Terms and conditions for use of the Sun Synergy Contracts website."
>
  <main class="min-h-screen w-full space-y-5">

    <section class="relative isolate mx-auto w-full py-12 grid place-items-center mt-36">
      <div class="space-y-2">
        <p class="text-xs text-[#FAFAFA] mx-auto text-center uppercase">LEGAL</p>
        <h1 class="text-4xl md:text-5xl xl:text-6xl text-[#FAFAFA] font-serif mx-auto text-center font-bold">Terms of Use</h1>
      </div>
    </section>

    <section>
      <div class="px-6 py-20 lg:px-8">
        <article class="invert brightness-0 text-justify max-w-3xl mx-auto prose prose-sm prose-headings:font-medium lg:prose-headings:font-medium">
          <h2>Disclaimer</h2>
          <p>This website is operated by SUN SYNERGY CONTRACTS.</p>
          <p>The contents on this website is provided for general information purposes only. All materials available on this website are prepared so that they are current as at the date of writing. It should be noted that such information may become out of date rather quickly. You should not take any action based on information found on this website without seeking verification.</p>
          <p>SUN SYNERGY CONTRACTS makes no representations about the suitability, reliability and accuracy of the material contained in this website at any point in time and cannot guarantee that the contents of this website will always be correct or free from fault, error and virus.</p>
          <p>SUN SYNERGY CONTRACTS does not accept liability for incorrect content or errors and omissions in this website or its content (whether of typographical, technical or other nature) but endeavours to correct them as quickly as practicable.</p>
          <p>SUN SYNERGY CONTRACTS shall not be liable for any data lost or any equipment or software replaced by you as a result of you using this website.</p>
          <p>Similarly, SUN SYNERGY CONTRACTS shall not be liable directly or indirectly in law for any damage whatsoever in relation to this website for any use of content provided herein including economic loss.</p>
          <p>You are allowed to view, download and print out materials from this website for information purposes only.</p>
          <p>All rights in this website and the content on this website including copyright, design rights, patents, inventions, know-how, database rights, trademarks, source codes and any other intellectual property rights in any of the foregoing are reserved to SUN SYNERGY CONTRACTS.</p>
          <h2>Links</h2>
          <p>This website may contain links to other websites solely for your convenience. SUN SYNERGY CONTRACTS does not endorse any such linked sites and assumes no responsibility for the contents of any other website to which this website offers links. You may not link the homepage or any other parts of this website without prior written consent from SUN SYNERGY CONTRACTS.</p>
          <h2>Amendments</h2>
          <p>SUN SYNERGY CONTRACTS reserves the right to amend or terminate the contents of this website and to amend these terms and conditions at any time. Continued use of this website after amendment of these terms and conditions shall be deemed to constitute acceptance of such amendments.</p>
          <h2>Jurisdiction &amp; Law</h2>
          <p>These terms and conditions and any dispute, controversy, proceedings or claim of whatever nature arising out of or in any way relating to these terms and conditions shall be governed by and construed in accordance with Malaysian law and the courts of Malaysia shall have exclusive jurisdiction to resolve any disputes between us relating to these terms and conditions.</p>
        </article>
      </div>
    </section>

  </main>
</BaseLayout>
